﻿@model Summit.Models.Ubicacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ubicacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Canton.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Canton.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distrito.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distrito.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provincia.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provincia.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDUbicacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
