﻿@model IEnumerable<Summit.Models.Ubicacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lugar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Canton.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distrito.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provincia.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lugar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Canton.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distrito.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provincia.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDUbicacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDUbicacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDUbicacion })
        </td>
    </tr>
}

</table>
