﻿@model Summit.Models.Evento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreEvento)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Limite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Limite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tema.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tema.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoEvento.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEvento.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ubicacion.Lugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubicacion.Lugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDEvento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
