﻿@model Summit.Models.Distrito

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Distrito</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDProvicia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDProvicia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDCanton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCanton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodDistrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodDistrito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDdistrito }) |
    @Html.ActionLink("Back to List", "Index")
</p>
