﻿@model IEnumerable<Summit.Models.Canton>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDProvicia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodCanton)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDProvicia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodCanton)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDCanton }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDCanton }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDCanton })
        </td>
    </tr>
}

</table>
