﻿@model IEnumerable<Summit.Models.Calificacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Calificación
        </th>
        <th>
            Comentario
        </th>
        <th>
            Evento
        </th>
        <th>
            Usuario
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Calificacion1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evento.IDEvento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDCalifiacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDCalifiacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDCalifiacion })
        </td>
    </tr>
}

</table>
