﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Evento", "Index", "Evento")</li>
                    <li>@Html.ActionLink("Tipo de evento", "Index", "TipoEvento")</li>
                    <li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
                    <li>@Html.ActionLink("Tipo de Usuario", "Index", "TipoUsuario")</li>
                    <li>@Html.ActionLink("Nivel académico", "Index", "NIvelAcademico")</li>
                    <li>@Html.ActionLink("Ubicación", "Index", "Ubicacion")</li>
                    <li>@Html.ActionLink("Provincia", "Index", "Provincia")</li>
                    <li>@Html.ActionLink("Cantón", "Index", "Canton")</li>
                    <li>@Html.ActionLink("Distrito", "Index", "Distrito")</li>
                    <li>@Html.ActionLink("Tema", "Index", "Tema")</li>


                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
